{{!-- /articles --}}
<h1>All Articles List</h1>

<div class="collection">
  <ul class="articles-list">
    <br>
    {{#each articles}}
    <div class="image" style="height: 200px; width: 200px; background-image : url({{image}});"></div>
    <li>Title : {{title}}</li>
    <li>Body : {{body}}</li>
    <li>Author : {{author}}</li>
    <a href="http://localhost:3000/articles/{{this.title}}/edit">Edit Item</a>
    <br>
    <br>
    {{/each}}

  </ul>
</div>

<a href="http://localhost:3000">Change Route</a>

<a href="http://localhost:3000/articles/new">Create New Article</a>

<br>
{{>footer}}